---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import MethodologySection from '../components/MethodologySection.astro';
import ContextSection from '../components/ContextSection.astro';
import CandidateGrid from '../components/CandidateGrid.astro';
import ComparisonTable from '../components/ComparisonTable.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Análisis Político Costa Rica 2026 | Educación y Seguridad">
	<Header />
	<main>
		<Hero />
        <MethodologySection />
		<ContextSection />
		<CandidateGrid />
		<ComparisonTable />
	</main>
	<Footer />
</Layout>
